body {
    font-size: 14px;
    background-color: rgb(238,238,238);
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background-color: rgba(149, 115, 157, 0.87);
    border-color: rgba(149, 115, 157, 0.87);
}

a.topMenu {
    color: #984B95;
    text-decoration: none;
}

a.footer-a {
    color: #333;
}


/* ---------Форма поиска тавара------------ */
#searchSubmitButton {
    margin-bottom: 10px;
}
/* ---------Описание товавра------------ */
span.sale-icon {
    background-color: rgba(89, 101, 115, 0.29)!important;
    float: left;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    padding: 3px 7px 4px;
    margin: 2px 2px 2px 2px;
    font-size: 12px;
    display: inline;
}

/* ---------Карусель------------ */
.carousel-inner{
    text-align: center;
    text-align: -webkit-center;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    height: 300px;
}

.carousel-control{
    color: #D2D5D6;
}

.carousel-control:hover, .carousel-control:focus {
    color: #D2D5D6;
}

.carousel-control.left, .carousel-control.right {
    --background-image: none !important;
}

/* ---------FOOTER------------ */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 15px 15px 15px;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

#socseti i {
    font-size: 1.5em;
}
#socseti div.btn-default {
    height:100%;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

code {
    font-size: 80%;
}
/* ----  Корзина  -------- */
#cartlink {
    cursor: pointer;
}
/* ----  Меню каталога справа  -------- */
.dropdown-menu-right a {
    white-space: normal !important;
}

.dropdown-right{
    width: 100% !important;
}

.dropdown-menu-right{
    right: -250px !important;
    top: 0px !important;
    width: inherit !important;
}

.dropdown-menu-right img, .dropdown-menu-right .nav-header,.dropdown-menu-right .mega-more, .mega-menu-column a.list-group-item{
    display: none;
}

.list-group > li{
    list-style-type: none;
}

.dropdown-right .none-cat{
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
}

.none {
    display: none;
}

